<section id="new-post">
  <h2>New Post</h2>

  <%= form_with url: user_posts_path(@current_user_id), method: :post, local: true, scope: :post do |f| %>
    <div class="flex-col input-box">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="flex-col input-box" >
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <%= f.submit "Submit", :class => "btn submit" %>
  <% end %>

</section>
