<section id="posts-show">
  <h2>Here is a post for a given user</h2>
  <div class="post">
    <h4><%= @post.title %> by <%= @post.author.name%></h4>
    <br>
    <p class="more-info" >Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    <p><%= @post.text %></p>
    <ul class="comments">
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.author.name %>: </strong>
          <%= comment.text %>
          <br>
        </li>
      <% end %>
    </ul>
  </div>
</section>