<section id="posts-show">
  <div class="post">
    <div class="post-text border">
      <h2><%= @post.title %> by <%= @post.author.name%></h2>
      <br>
      <p class="more-info text-end" >Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
      <p class="text"><%= @post.text %></p>
    </div>
    <div class="like">
      <% if @liked %>
        <p>Liked!</p>
      <% else %>
        <% if @current_user %>
          <%= form_with url: user_post_likes_path(@current_user, @post), scope: :like do |f| %>
            <%= f.submit "Like", :class => "btn btn-like" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <ul class="comments border">
      <%= render "shared/comments", comments: @post.comments %>
    </ul>
    <div class="new-comment">
      <% if @current_user %>
      <%= form_with url: user_post_comments_path(@current_user, @post), scope: :comment do |f| %>
        <div class="flex-col input-box">
          <%= f.label :text, "Add new comment" %>
          <%= f.text_area :text %>
        </div>
        <%= f.submit "Submit", :class => "btn submit" %>
      <% end %>
      <% end %>
    <div>
  </div>
</section>