<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>Blog App</h1>
    <h2><%= flash[:success] %></h2>
    <h2><%= flash[:error] %></h2>
    <%= yield %>
    <h2><%= notice %></h2>
    <h2><%= alert %></h2>
  </body>
</html>
